# üìä Exerc√≠cios Pr√°ticos: Coleta e Prepara√ß√£o de Dados com APIs

## Objetivo:
- Explorar diferentes APIs p√∫blicas.
- Coletar, processar e armazenar dados usando Pandas.
- Praticar manipula√ß√£o de dados e tratamento de erros.
---

## üìå Exerc√≠cio 1: Explorando Outra API

**Tarefa:**
- Escolha uma API p√∫blica diferente do Open-Meteo.
- Fa√ßa uma requisi√ß√£o e converta os dados em um DataFrame.
- Exiba as primeiras 5 linhas.

**Sugest√µes de APIs:**
1. NASA API: https://api.nasa.gov/
2. The Dog API: https://thedogapi.com/
3. Pok√©API: https://pokeapi.co/

**Dicas:**
- Utilize `requests.get()` para obter os dados.
- Extraia apenas os campos mais relevantes do JSON.

In [30]:
#Exerc√≠cio 1

import pandas as pd
import requests

url = "https://api.thedogapi.com/v1/breeds"

response = requests.get(url)

dados = response.json()

df = pd.DataFrame(dados)

campos = df[["weight", "origin", "name"]]

campos.head()

,weight,origin,name
0,"{'imperial': '6 - 13', 'metric': '3 - 6'}","Germany, France",Affenpinscher
1,"{'imperial': '50 - 60', 'metric': '23 - 27'}","Afghanistan, Iran, Pakistan",Afghan Hound
2,"{'imperial': '44 - 66', 'metric': '20 - 30'}",,African Hunting Dog
3,"{'imperial': '40 - 65', 'metric': '18 - 29'}","United Kingdom, England",Airedale Terrier
4,"{'imperial': '90 - 120', 'metric': '41 - 54'}",,Akbash Dog

## üìå Exerc√≠cio 2: Coletando e Filtrando Dados Clim√°ticos

**Tarefa:**
- Modifique a requisi√ß√£o para obter **dados di√°rios** do Open-Meteo.
- Filtre os dados para uma **data espec√≠fica**.
- Salve a temperatura em um CSV.


### Dicas:

- Filtre o DataFrame para uma data espec√≠fica usando `.str.startswith()`.
- Separe somente os dados dos pr√≥ximo dois dias.
- Utilize `to_csv()` para salvar os dados.
"""

In [ ]:
import pandas as pd
import requests

dataInicial = '2024-01-01'
dataFinal = '2025-12-31'

url = f"https://api.open-meteo.com/v1/forecast?latitude=-23.55&longitude=-46.63&dataInicial={dataInicial}&dataFinal={dataFinal}&hourly=temperature_2m&timezone=America/Sao_Paulo"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    hourly_data = data.get("hourly", {})
    daily_data = data.get("daily", {})
    time_hourly = hourly_data.get("time", [])
    temperatura = hourly_data.get("temperature_2m", [])
    df_temperatura= pd.DataFrame({'datetime': time_hourly, 'temperature_2m': temperatura}) 
    df_temperatura.to_csv("temperatura.csv")
else:
    print("Erro:", response.status_code)

## üìå Exerc√≠cio 3: Lidando com Erros de API

**Tarefa:**
- Fa√ßa uma requisi√ß√£o errada para a API (ex.: remova `latitude`).
- Imprima o c√≥digo de status HTTP e a mensagem de erro.
- Ajuste a requisi√ß√£o at√© obter sucesso.

### Dicas:
- Utilize `response.status_code` para verificar erros.
- Teste modificar a URL propositalmente para entender os erros.
"""

In [44]:
latitude = -23.55
longitude = -46.63

def test_api_error():
    api_url = f"https://api.open-meteo.com/v1/forecast?longitude={longitude}&latitude={latitude}&daily=temperature_2m_max&timezone=America/Sao_Paulo" 
    response = requests.get(api_url)
    print("Erro:",response.status_code)

    api_url2 = f"https://api.open-meteo.com/v1/forecast?&latitude=none&daily=temperature_2m_max&timezone=America/Sao_Paulo"  
    response = requests.get(api_url2)
    print("Erro:",response.status_code)

test_api_error()

Erro: 200
Erro: 400

## üìå Exerc√≠cio 4: Automatizando M√∫ltiplas Requisi√ß√µes

**Tarefa:**
- Modifique a fun√ß√£o `fetch_weather_data()` para coletar dados de m√∫ltiplas cidades.
- Salve um CSV separado para cada cidade.

**Dicas**
- Utilize um loop for para iterar sobre as localiza√ß√µes diferentes
- Crie URLs din√¢micas com `f"string"`.
"""

In [45]:
def fetch_multiple_locations():
    cities = [
        {"lat": -23.55, "lon": -46.63, "name": "Sao_Paulo"},
        {"lat": 40.71, "lon": -74.01, "name": "New_York"},
        {"lat": 51.51, "lon": -0.13, "name": "London"}
    ]
    #### Acessar os dados das 3 cidades
    for name in cities:
      cidade = cities['name']
      cidade.to_csv("Cidades")


fetch_multiple_locations()

TypeError: list indices must be integers or slices, not str

## üìå Exerc√≠cio 5: Desafio Aberto

**Tarefa:**
- Encontre uma API p√∫blica e colete dados relevantes.
- Aplique pelo menos **duas transforma√ß√µes** nos dados (ex.: filtrar, remover nulos, converter formatos).
- Salve o resultado em um arquivo JSON.

### Dicas:
- Explore APIs de seu interesse (esportes, m√∫sica, astronomia, etc.).
- Utilize `.dropna()`, `.filter()`, ou `.groupby()` para transformar os dados.
- Salve usando `to_json()`.

In [ ]:
def open_ended_exercise():
    # Substitua essa API por uma de sua escolha!
    api_url = "https://jsonplaceholder.typicode.com/posts"
    response = requests.get(api_url)
    df = pd.DataFrame(response.json())


    return df

open_ended_exercise()